.popover{
    width: 560px!important;
    max-width: 1000px!important;
}
.popover-content {
	height: 144px;
    position: relative;
    overflow: hidden;
}
.isbn-class{
	height: 1000px;
    width: 1000px;
    position: absolute;
    margin-left: -145px;
    margin-top: -400px;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.btn-loading{
    position: absolute;
    margin-top: -230px;
    margin-left: 240px;
    z-index: 2;
}
#block{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0px;
    opacity: 0.3;
}
.m15{ margin: 15px; }

.btn-loading-full{
    position: fixed;
    top: 200px;
    left: 47%;
    z-index: 22;
}

#block-full{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0px;
    opacity: 0.3;
    z-index: 11;
}

.clear {
    clear: both;
}

.DTTT.btn-group {
    margin-bottom: 20px;
    float: right;
}

.dataTables_length{ float: left; }

div#table_info{ float: left; }